[project]
	description = Tools to automate the creation of a Windows image for OpenStack, supporting KVM, Hyper-V, ESXi and more.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xinchun Liu (lospringliu)
[access "refs/for/refs/*"]
	read = group user/Xinchun Liu (lospringliu)
	push = group user/Xinchun Liu (lospringliu)
	label-Code-Review = -2..+2 group user/Xinchun Liu (lospringliu)
	label-Verified = -1..+1 group user/Xinchun Liu (lospringliu)
	rebase = group user/Xinchun Liu (lospringliu)
	removeReviewer = group user/Xinchun Liu (lospringliu)
	submit = group user/Xinchun Liu (lospringliu)
[access "refs/heads/*"]
	read = group user/Xinchun Liu (lospringliu)
	create = group user/Xinchun Liu (lospringliu)
	push = +force group user/Xinchun Liu (lospringliu)
	pushMerge = group user/Xinchun Liu (lospringliu)
[access "refs/tags/*"]
	push = +force group user/Xinchun Liu (lospringliu)
	pushTag = group user/Xinchun Liu (lospringliu)
	pushSignedTag = group user/Xinchun Liu (lospringliu)
